/.vs/ezacquire.migration/v15/*.suo
/.vs/ezacquire.migration/v15/Server/sqlite3/*.lock
/.vs/ezacquire.migration/v15/Server/sqlite3/*.ide
/.vs/ezacquire.migration/v15/Server/sqlite3/*.ide-shm
/.vs/ezacquire.migration/v15/Server/sqlite3/*.ide-wal
/ezacquire.migration.Extractor/bin/Debug/Log/*.log
/ezacquire.migration.Extractor/bin/Debug/*.dll
/ezacquire.migration.Extractor/bin/Debug/*.xml
/ezacquire.migration.Extractor/bin/Debug/*.exe
/ezacquire.migration.Extractor/bin/Debug/*.Config
/ezacquire.migration.Extractor/bin/Debug/*.pdb
/ezacquire.migration.Extractor/bin/Debug/*.config
/ezacquire.migration.Extractor/*.csproj
/ezacquire.migration.Extractor/obj/Debug/*.cache
/ezacquire.migration.Extractor/obj/Debug/TempPE/*.dll
/ezacquire.migration.Extractor/obj/Debug/*.cs
/ezacquire.migration.Extractor/obj/Debug/*.resources
/ezacquire.migration.Extractor/obj/Debug/*.CopyComplete
/ezacquire.migration.Extractor/obj/Debug/*.txt
/ezacquire.migration.Extractor/obj/Debug/*.exe
/ezacquire.migration.Extractor/obj/Debug/*.pdb
/ezacquire.migration.Utility/bin/Debug/*.dll
/ezacquire.migration.Utility/bin/Debug/*.xml
/ezacquire.migration.Utility/bin/Debug/*.config
/ezacquire.migration.Utility/bin/Debug/*.pdb
/ezacquire.migration.Utility/obj/Debug/*.cache
/ezacquire.migration.Utility/obj/Debug/*.cs
/ezacquire.migration.Utility/obj/Debug/*.CopyComplete
/ezacquire.migration.Utility/obj/Debug/*.txt
/ezacquire.migration.Utility/obj/Debug/*.dll
/ezacquire.migration.Utility/obj/Debug/*.pdb
/ezacquire.migration.Writer/bin/Debug/Log/*.log
/ezacquire.migration.Writer/bin/Debug/*.dll
/ezacquire.migration.Writer/bin/Debug/*.xml
/ezacquire.migration.Writer/bin/Debug/*.exe
/ezacquire.migration.Writer/bin/Debug/*.pdb
/ezacquire.migration.Writer/bin/Debug/*.config
/ezacquire.migration.Writer/bin/Debug/*.txt
/ezacquire.migration.Writer/*.csproj
/ezacquire.migration.Writer/obj/Debug/*.cache
/ezacquire.migration.Writer/obj/Debug/TempPE/*.dll
/ezacquire.migration.Writer/obj/Debug/*.cs
/ezacquire.migration.Writer/obj/Debug/*.resources
/ezacquire.migration.Writer/obj/Debug/*.CopyComplete
/ezacquire.migration.Writer/obj/Debug/*.txt
/ezacquire.migration.Writer/obj/Debug/*.exe
/ezacquire.migration.Writer/obj/Debug/*.pdb
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/*.p7s
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/*.png
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/*.TXT
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/*.nupkg
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/net461/*.dll
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/net461/*.xml
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.0/*.dll
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.0/*.xml
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.1/*.dll
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib/netstandard2.1/*.xml
/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/*.txt
/packages/Oracle.ManagedDataAccess.21.3.0/*.p7s
/packages/Oracle.ManagedDataAccess.21.3.0/*.txt
/packages/Oracle.ManagedDataAccess.21.3.0/*.nupkg
/packages/Oracle.ManagedDataAccess.21.3.0/PerfCounters/*.ps1
/packages/Oracle.ManagedDataAccess.21.3.0/bin/x64/*.dll
/packages/Oracle.ManagedDataAccess.21.3.0/bin/x86/*.dll
/packages/Oracle.ManagedDataAccess.21.3.0/content/net462/*.xdt
/packages/Oracle.ManagedDataAccess.21.3.0/content/net462/*.transform
/packages/Oracle.ManagedDataAccess.21.3.0/content/net462/*.xsd
/packages/Oracle.ManagedDataAccess.21.3.0/lib/net462/*.dll
/packages/System.Buffers.4.5.1/*.p7s
/packages/System.Buffers.4.5.1/*.TXT
/packages/System.Buffers.4.5.1/*.nupkg
/packages/System.Buffers.4.5.1/lib/net461/*.dll
/packages/System.Buffers.4.5.1/lib/net461/*.xml
/packages/System.Buffers.4.5.1/lib/netcoreapp2.0/*._
/packages/System.Buffers.4.5.1/lib/netstandard1.1/*.dll
/packages/System.Buffers.4.5.1/lib/netstandard1.1/*.xml
/packages/System.Buffers.4.5.1/lib/netstandard2.0/*.dll
/packages/System.Buffers.4.5.1/lib/netstandard2.0/*.xml
/packages/System.Buffers.4.5.1/lib/uap10.0.16299/*._
/packages/System.Buffers.4.5.1/ref/net45/*.dll
/packages/System.Buffers.4.5.1/ref/net45/*.xml
/packages/System.Buffers.4.5.1/ref/netcoreapp2.0/*._
/packages/System.Buffers.4.5.1/ref/netstandard1.1/*.dll
/packages/System.Buffers.4.5.1/ref/netstandard1.1/*.xml
/packages/System.Buffers.4.5.1/ref/netstandard2.0/*.dll
/packages/System.Buffers.4.5.1/ref/netstandard2.0/*.xml
/packages/System.Buffers.4.5.1/ref/uap10.0.16299/*._
/packages/System.Buffers.4.5.1/*.txt
/packages/System.Memory.4.5.4/*.p7s
/packages/System.Memory.4.5.4/*.TXT
/packages/System.Memory.4.5.4/*.nupkg
/packages/System.Memory.4.5.4/lib/net461/*.dll
/packages/System.Memory.4.5.4/lib/net461/*.xml
/packages/System.Memory.4.5.4/lib/netcoreapp2.1/*._
/packages/System.Memory.4.5.4/lib/netstandard1.1/*.dll
/packages/System.Memory.4.5.4/lib/netstandard1.1/*.xml
/packages/System.Memory.4.5.4/lib/netstandard2.0/*.dll
/packages/System.Memory.4.5.4/lib/netstandard2.0/*.xml
/packages/System.Memory.4.5.4/ref/netcoreapp2.1/*._
/packages/System.Memory.4.5.4/*.txt
/packages/System.Numerics.Vectors.4.5.0/*.p7s
/packages/System.Numerics.Vectors.4.5.0/*.TXT
/packages/System.Numerics.Vectors.4.5.0/*.nupkg
/packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/*._
/packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/*._
/packages/System.Numerics.Vectors.4.5.0/lib/net46/*.dll
/packages/System.Numerics.Vectors.4.5.0/lib/net46/*.xml
/packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/*._
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/*.dll
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/*.xml
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/*.dll
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/*.xml
/packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/*.dll
/packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/*.xml
/packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/*._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/*._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/*._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/*._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/*._
/packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/*._
/packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/*._
/packages/System.Numerics.Vectors.4.5.0/ref/net45/*.dll
/packages/System.Numerics.Vectors.4.5.0/ref/net45/*.xml
/packages/System.Numerics.Vectors.4.5.0/ref/net46/*.dll
/packages/System.Numerics.Vectors.4.5.0/ref/net46/*.xml
/packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/*._
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/*.dll
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/*.xml
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/*.dll
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/*.xml
/packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/*._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/*._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/*._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/*._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/*._
/packages/System.Numerics.Vectors.4.5.0/*.txt
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/*.p7s
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/*.png
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/*.TXT
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/*.nupkg
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/*.txt
/packages/System.Text.Encodings.Web.5.0.1/*.p7s
/packages/System.Text.Encodings.Web.5.0.1/*.png
/packages/System.Text.Encodings.Web.5.0.1/*.TXT
/packages/System.Text.Encodings.Web.5.0.1/*.nupkg
/packages/System.Text.Encodings.Web.5.0.1/lib/net461/*.dll
/packages/System.Text.Encodings.Web.5.0.1/lib/net461/*.xml
/packages/System.Text.Encodings.Web.5.0.1/lib/netcoreapp3.0/*.dll
/packages/System.Text.Encodings.Web.5.0.1/lib/netcoreapp3.0/*.xml
/packages/System.Text.Encodings.Web.5.0.1/lib/netstandard1.0/*.dll
/packages/System.Text.Encodings.Web.5.0.1/lib/netstandard1.0/*.xml
/packages/System.Text.Encodings.Web.5.0.1/lib/netstandard2.0/*.dll
/packages/System.Text.Encodings.Web.5.0.1/lib/netstandard2.0/*.xml
/packages/System.Text.Encodings.Web.5.0.1/lib/netstandard2.1/*.dll
/packages/System.Text.Encodings.Web.5.0.1/lib/netstandard2.1/*.xml
/packages/System.Text.Encodings.Web.5.0.1/*.txt
/packages/System.Text.Json.5.0.2/*.p7s
/packages/System.Text.Json.5.0.2/*.png
/packages/System.Text.Json.5.0.2/*.TXT
/packages/System.Text.Json.5.0.2/*.nupkg
/packages/System.Text.Json.5.0.2/lib/net461/*.dll
/packages/System.Text.Json.5.0.2/lib/net461/*.xml
/packages/System.Text.Json.5.0.2/lib/netcoreapp3.0/*.dll
/packages/System.Text.Json.5.0.2/lib/netcoreapp3.0/*.xml
/packages/System.Text.Json.5.0.2/lib/netstandard2.0/*.dll
/packages/System.Text.Json.5.0.2/lib/netstandard2.0/*.xml
/packages/System.Text.Json.5.0.2/*.txt
/packages/System.Threading.Tasks.Extensions.4.5.4/*.p7s
/packages/System.Threading.Tasks.Extensions.4.5.4/*.TXT
/packages/System.Threading.Tasks.Extensions.4.5.4/*.nupkg
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoAndroid10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoTouch10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/*.dll
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/*.xml
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netcoreapp2.1/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/*.dll
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/*.xml
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/*.dll
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/*.xml
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/*.dll
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/*.xml
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinios10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinmac20/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarintvos10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinwatchos10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoAndroid10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoTouch10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/ref/netcoreapp2.1/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinios10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinmac20/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarintvos10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinwatchos10/*._
/packages/System.Threading.Tasks.Extensions.4.5.4/*.txt
/packages/System.ValueTuple.4.5.0/*.p7s
/packages/System.ValueTuple.4.5.0/*.TXT
/packages/System.ValueTuple.4.5.0/*.nupkg
/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/*._
/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/*._
/packages/System.ValueTuple.4.5.0/lib/net461/*.dll
/packages/System.ValueTuple.4.5.0/lib/net461/*.xml
/packages/System.ValueTuple.4.5.0/lib/net47/*.dll
/packages/System.ValueTuple.4.5.0/lib/net47/*.xml
/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/*._
/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/*.dll
/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/*.xml
/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/*._
/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/*.dll
/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/*.xml
/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/*._
/packages/System.ValueTuple.4.5.0/lib/xamarinios10/*._
/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/*._
/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/*._
/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/*._
/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/*._
/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/*._
/packages/System.ValueTuple.4.5.0/ref/net461/*.dll
/packages/System.ValueTuple.4.5.0/ref/net47/*.dll
/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/*._
/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/*._
/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/*.dll
/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/*._
/packages/System.ValueTuple.4.5.0/ref/xamarinios10/*._
/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/*._
/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/*._
/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/*._
/packages/System.ValueTuple.4.5.0/*.txt
/ezacquire.migration/bin/Debug/*.dll
/ezacquire.migration/bin/Debug/*.xml
/ezacquire.migration/bin/Debug/*.config
/ezacquire.migration/bin/Debug/*.pdb
/ezacquire.migration/bin/Debug/*.exe
/ezacquire.migration/obj/Debug/*.cache
/ezacquire.migration/obj/Debug/*.cs
/ezacquire.migration/obj/Debug/*.resources
/ezacquire.migration/obj/Debug/*.CopyComplete
/ezacquire.migration/obj/Debug/*.txt
/ezacquire.migration/obj/Debug/*.exe
/ezacquire.migration/obj/Debug/*.pdb
