<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- IS Connection -->
    <add key="IsServerMode" value="false" />
    <add key="ISLibraryName" value="DefaultIMS:mlimage:FileNET" />
    <add key="ISUserID" value="Query" />
    <add key="ISPassword" value="" />
    <add key="ISClassName" value="MMLife" />

    <!-- 目錄設定 -->
    <add key="ImageTempFolder" value="D:\ezAcquire\Migration" />

    <!--SQL Server-->
    <add key="ConnectionString" value="Server=10.0.0.125;DataBase=DataMigration;uid={0};pwd={1}" />
    <add key="UserId" value="sa" />
    <add key="UserPassword" value="A5F30E2454D63312463ECC5D7092EC9C" />

    <!--oracle-->
    <add key="oleConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.155)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=IDB)));User ID={0};Password={1};" />
    <add key="oleUserId" value="system" />
    <add key="oleUserPassword" value="4D0D15C74F5A736702D4E69FA185FF63" />

    <!--時間設定-->
    <add key="StartDay" value="2010/01/01" />
    <add key="EndDay" value="" />
    <!--請勿修改，由程式自行控制-->
    <add key="NeedGetData" value="Y" />
    <add key="StartTime" value="" />
    <add key="EndTime" value="" />
    <add key="WeekendStartTime" value="0100" />
    <add key="WeekendEndTime" value="1200" />
    <add key="StopTime" value="0100" />
    <add key="RestartTime" value="1200" />
    <add key="NeedTimer" value="Y" />
    <add key="NeedRestart" value="Y" />

    <add key="ThreadCount" value="2" />
    <add key="Holidays" value="" />
    <add key="ServerName" value="1" />
    <add key="CaseCount" value="500" />
    <add key="AddDays" value="" />
    <add key="AddMonths" value="1" />
    <add key="exePath" value="D:\MigrationRecodrs.exe" /> <!--包含檔名-->

    <!--URL-->
    <add key="DocumentService" value="http://10.0.0.125:5003" />
    <add key="AuthServiceURL" value="http://10.0.0.125:5002" />
    <add key="ezAcquireUserId" value="201456"/>
    <add key="ezAcquirePassword" value="1111"/>
  </appSettings>
</configuration>